name: geptposto
description: A new Flutter project.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: '>=2.19.5 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  camera: ^0.10.3+2
  cupertino_icons: ^1.0.5
  image_picker: ^0.8.7+1
  google_mlkit_face_detection: ^0.5.0
  flutter_speed_dial: ^6.2.0
  path: ^1.8.2
  path_provider: ^2.0.14
  permission_handler: ^10.2.0
  http: ^0.13.5
  flutter_modular: ^5.0.3
  device_info_plus: ^8.1.0
  bordered_text: ^2.0.0
  badges: ^3.0.3
  icon_badge: ^1.0.0
  rx_notifier: ^2.2.1
  brasil_fields: ^1.11.0
  dotted_border: ^2.0.0+3
  source_gen: ^1.2.7
  hive: ^2.2.3
  hive_generator: ^2.0.0
  hive_flutter: ^1.1.0
  http_parser: ^4.0.2
  intl: ^0.18.0
  image: ^4.0.15
  google_ml_kit: ^0.13.0
  #tflite_flutter: ^0.9.1
  tflite_flutter:
    path: assets/tflite_flutter
  image_cropper: ^3.0.2
  
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: ^0.12.0
  flutter_lints: ^2.0.1
  build_runner: ^2.3.3


# Execute o comando para altera o icone: flutter pub run flutter_launcher_icons
flutter_icons:
  image_path: "assets/icon/geptIcon.png" 
  android: true
  ios: true


flutter:
  uses-material-design: true
  assets:
    - assets/
    - assets/icon/geptIcon.png
    - assets/images/background.png
    - assets/images/tela1.jpg
    - assets/images/tela2.jpg 
    - assets/images/tela3.jpg      
    - assets/images/tela4.jpg   
    - assets/images/semFoto.png


scripts:
  mobx: flutter pub run build_runner watch --delete-conflicting-outputs
  clean: flutter pub run build_runner clean
  build: flutter pub run build_runner build --delete-conflicting-outputs